<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServico" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58588/Site/Servico.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServico" contract="IServico"
                name="BasicHttpBinding_IServico" />
        </client>
    </system.serviceModel>
</configuration>